.row.justify-content-center.align-self-center.w-100
  = simple_form_for :search, url: searches_path, method: :get, remote: true, html: { class: 'form-inline preloader w-100' } do |f|
    .form-group.row.w-100
      .col-sm-8
        = f.label :phone_name, class: 'sr-only'
        = f.input_field :phone_name, class: 'form-control w-100', placeholder: 'Enter phone name'
      .col-sm-4
        = f.button :submit, 'Show dimensions'
  .col-sm-12.mt-sm-2
    p.dimensions